body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: #1e1e1e;
    color: white;
}

/* ===== Barra lateral ===== */
nav {
    width: 250px;
    background-color: #111;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
}

nav h2 {
    text-align: center;
    color: #00ffcc;
}

nav a {
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    background-color: #00ffcc;
    color: black;
}
/* ===== Contenido principal ===== */
main {
    margin-left: 250px;
    padding: 30px;
    width: 100%;
}

section {
    margin-bottom: 60px;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 10px;
}

h1, h2 {
    color: #00ffcc;
}

ul {
    line-height: 1.8;
}

img {
    width: 100%;
    max-width: 500px;
    margin-top: 15px;
    border-radius: 8px;
}