
/* ================= MAIN ================= */
main {
    margin-top: 80px;
    padding: 40px;
    flex: 1;
}

/* Sections */
section {
    scroll-margin-top: 100px;
    margin-bottom: 60px;
    padding: 30px;
    background-color: var(--bg-section);
    border-radius: 10px;
    color: var(-);
    line-height: 1.8;
}

h1, h2, h3, h4 {
    color: var(--color-1);
    margin-bottom: 20px;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.4rem;
    margin-top: 25px;
    color: var(--color-4);
}

p {
    margin-bottom: 20px;
    line-height: 1.8;
    color: var(--color-1);
}

p.intro-text {
    font-size: 1.1rem;
    color: var(--color-3);
    font-style: italic;
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgba(13, 148, 136, 0.05);
    border-left: 3px solid var(--color-4);
    border-radius: 5px;
}

ul {
    line-height: 1.8;
    margin-bottom: 20px;
}

li {
    margin-left: 20px;
    color: var(--color-1);
}

.proyectos-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 2rem;
}

.proyecto-item {
    flex: 1 1 300px; 
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
    background-color: #1c3443 ;
    padding: 2rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.proyecto-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 35px var(--color-2);
}

.proyecto-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
    main {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    section {
        padding: 20px;
    }
}
