* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}

.container{

display: flex;
padding: 10px;
align-items: center;

}

.titulo{   
display: flex;
font-size: larger;   
}

.nav-menu{
display:flex;
flex-direction: row;
}

.menu ul {
  list-style: none;
  display: flex;           
  justify-content: space-around;  
}

.menu li {
  margin: 50px 15px;
}

.menu a {
color: black;
font-size: larger;
display: block;
padding: 15px 10px;
text-decoration: none;
transition: 0.3s;
}

.menu a:hover {
  background-color: #0722bb;
  border-radius: 4px;
  color: white;
}
